body{
    margin: 0px;
    background-color: var(--background);
    font-family: Arial;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    --text: #faffff;
    --background: #013232;
    --primary: #00FFFF;
    --secondary: #000504;
    --accent: #41ee4c;
}
#Title{
    margin: 0px;
    font-weight:700;
    color: var(--text);
}
nav{
    width: 100vw;
    height: 24px;
    box-shadow: 0px 1px 10px rgba(0 ,0, 0, 0.4);
    background-color: var(--background);
    padding: 12px;
    padding-left: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#no-nav{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
hr{
    width: 88%;
    height: 3px;
    left: 0px;
    border-radius: 6px;
    background-color: #41ee4c;
    outline: none;
    border: none;
    position: relative;
    top:-10px
}
.navitem{
    color: var(--text);
    font-weight: 600;
    text-decoration: none;
    margin-right: 10px;
    transition: 1s;
    border-radius: 3px;
    margin-left:5%;
    transition: 0.5s;
}
#Header{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 80px;
    margin-top: 200px;
    opacity: 0.72;
    color: var(--text);
    transition: ease-in;
}
#grad{
    background-image: linear-gradient(to bottom right, cyan 25%, limegreen 150%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease-in-out;
}
.navitem:hover{
    background-color: var(--accent);
}

#selection{
    
}
#dwldbtn:hover{
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--primary);
}
#dwldbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 1em 2em;
    border-radius: 6px;
    transition: ease-in 0.4s;
    font-size: 18px;
    border: none;
    margin-left: 45vw;
}

a{
    color:inherit;
    text-decoration: none;
}
#section2{
    width: 100%;
    height: 45%;
    transform: scale;
    background-color: var(--primary);
    color: #fff;
    padding: 25px;    ;
}

#scrept{
    width: 100vw;
    height: 20px;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to bottom right, red , maroon);
    background-repeat:no-repeat;
    background-attachment:fixed;
    color: #fff;
    box-shadow: 0px 1px 5px rgba(0 ,0, 0, 0.4);
}
a{
    text-decoration: none;
    cursor: pointer;
}
#sect2title{
    margin-right: 5%;
}
.txtcolor{
    font-size: 17px;
    font-weight: 600;
}
#blob{
    background: linear-gradient(
        to bottom right,
        var(--primary) 50%,
        var(--accent) 25%
    );
    height: 225px;
    aspect-ratio: 1;
    position: fixed;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    border-radius: 50%;
    animation: rotate 20s infinite;
}
@keyframes rotate{
    from{
        transform:rotate( 0deg);
    }
    50%{
        transform:scale( 1 1.5);
    }
    to{
        transform:rotate( 360deg);
    }
}
#blur{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    -webkit-backdrop-filter: blur(125px);
    backdrop-filter: blur(125px);
}
@media screen and (max-width: 1090px) {
    #Header{
         opacity: 1;
         font-size: 15vmin;
    }
    #Head_Image{
        display: none;
    }
    #blob{
        display: none;
    }
}
.wave{
    width: 100vw;
    margin-top: 33vh;
    display: block;    
    transition: 0.3s
}
#svgpath{
    transform:translate(0, 0px); opacity:1
}
.terminal {
  background-color: white;
  color: #0bf4d2;
  font-family: monospace;
  padding: 10px;
  height: 480px;
  width: 640px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 7px;
  opacity: 0.89;
  margin-bottom: 2%;
}
::-webkit-scrollbar {
    display: none;
}